<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/"
        ><img
          loading="lazy"
          decoding="async"
          src="/assets/images/footerlogo5.svg"
          alt="logo"
          width="128"
          height="39"
      /></a>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <a href="mailto:sudhi@simplystellar.au">send an email</a>
          </li>
          <li>
            <a href="/enquiries">leave a message</a>
          </li>
          <li>
            <a href="/faqs">frequently asked questions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
