/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #faq {
    padding: clamp(2em, 1.5vw, 3em) 2rem;
  }
  #faq .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    overflow: hidden;
    row-gap: 2.5rem;
    padding-bottom: 3rem;
  }
  #faq .cs-right {
    margin: auto;
    max-width: 40.875rem;
  }
  #faq .cs-topper {
    font-size: var(--topperFontSize);
    font-family: "Merriweather-Sans";
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: clamp(0.5rem, 1.4vw, 0.75rem);
    display: block;
    border-top: 1px solid #ebebeb;
    padding-top: 3rem
  }
  #faq .cs-topperone {
    font-size: var(--topperFontSize);
    font-family: "Merriweather-Sans";
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: clamp(0.5em, 1.4vw, 0.75rem);
    display: block;
  }
  #faq .cs-title {
    font-size: var(--faqFontSize);
    font-weight: 500;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 0.5rem;
    color: var(--headerColor);
    position: relative;
  }
  #faq .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    padding: 0 0 1.5rem;
    color: var(--bodyTextColor);
    opacity: .9;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #faq .cs-container {
    flex-flow: row;
    justify-content: space-around;
    gap: 3.25rem;
    padding-bottom: 3rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #faq .cs-topper {
    color: var(--primary);
  }
  .dark-mode #faq .cs-topper {
    border-top: 1px solid var(--headerLight);
  }
  body.dark-mode #faq .cs-title,
  body.dark-mode #faq .cs-text,
  body.dark-mode #faq .cs-h3,
  body.dark-mode #faq .cs-flex-p {
    color: var(--bodyTextColorWhite);
  }
}